.criar-transacao-container {
  max-width: 450px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
  font-family: Arial, sans-serif; 
}


.criar-transacao-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
  color: #333; 
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s; 
}

.input-group input:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}


.criar-transacao-button {
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.criar-transacao-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}

/* Botão Cancelar */
.cancelar-transacao-button {
  padding: 0.75rem;
  background-color: #f44336; 
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cancelar-transacao-button:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

/* Mensagem de Erro */
.error-message {
  color: #f44336;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center; 
}
